<div class="container pt-5" *ngIf="getGlobalSummary()">
  <mat-toolbar color="primary">
    <h2>
      <p>Coronavirus (COVID-19) Dashboard</p>
    </h2>
    <span class="spacer"></span>
    <button mat-icon-button (click)="reload()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  <ng-container>
    <h3 class="text-red d-inline-block">Global Trend</h3>
    <div class="row pl-2 pr-2">
      <global-summary-dashboard
        class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4"
        *ngFor="let summary of globalSummaryArray"
        [summaryCard]="summary"
      >
      </global-summary-dashboard>
    </div>
    <div *ngIf="getCountryData()" class="row mt-1 ml-0 mr-0 pt-4">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h3 class="text-green d-inline-block country">Country Wise Data</h3>
      </div>
      <div class="row pl-2 pr-2">
        <country-summary-dashboard
          [countryData]="countryData"
        ></country-summary-dashboard>
      </div>
    </div>
  </ng-container>
</div>
