<mat-form-field appearance="outline">
  <input
    matInput
    color="accent"
    [formControl]="filter"
    placeholder="Search Country or NewConfirmed or TotalConfirmed or NewDeaths ... "
    #input
  />
</mat-form-field>

<div class="content">
  <div *ngIf="isLoadingResults" class="loading-shade">
    <mat-spinner class="loading"></mat-spinner>
  </div>
</div>
<ng-container [class.show]="showCountryData" class="container">
  <mat-table
    #table
    [dataSource]="dataSource"
    matSort
    matSortActive="Country"
    matSortDisableClear
    matSortDirection="asc"
    class="mat-cell"
  >
    <ng-container matColumnDef="Country">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Country</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.Country }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="NewConfirmed">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >New Confirmed</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.NewConfirmed | number }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="TotalConfirmed">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Total Confirmed</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.TotalConfirmed | number }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="NewDeaths">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >New Deaths</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.NewDeaths | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="TotalDeaths">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Total Deaths</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.TotalDeaths | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="NewRecovered">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >New Recovered</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.NewRecovered | number }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="TotalRecovered">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Total Recovered</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.TotalRecovered | number }}</mat-cell
      >
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="no-results" *ngIf="countryData.length < 1">No results</div>
  <mat-paginator
    showFirstLastButtons
    #paginator
    [length]="countryData.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50, 100]"
  >
  </mat-paginator>
</ng-container>
